.logo-img{
    width: 80px;
}

/* .edit-icon {
    position: relative;
  }
  
  .edit-icon i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    cursor: pointer;
  } */
  